/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family, sans-serif);
  font-variation-settings: "wght" var(--card-text-weight);
  font-size: 18px;
  background-image: var(--background-gradient);
  background-attachment: fixed;
  background-size: cover;
  margin-bottom: 100px;
}

.page_content {
  inline-size: var(--page-content-width);
  margin: auto;
  background-color: #fff;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  font-family: var(--accent-font-family);
  font-weight: 400;
  text-transform: uppercase;
  padding: var(--header-padding);
  margin: 102px auto;
  border: 2px solid #000;
}

.header_logo {
  font-size: var(--header-logo-font-size);
}

.header_title {
  font-size: var(--header-title-font-size);
}

.button {
  background-color: var(--button-text-color);
  border: 2px solid #000;
  position: relative;
  transition: box-shadow 0.3s ease;
}

.button__text {
  font-family: var(--accent-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: #fff;
  mix-blend-mode: difference;
}

.floppy-icon {
  mix-blend-mode: difference;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.main_card_title {
  font-variation-settings: "wght" var(--card-title-weight);
  border: 2px solid #000;
  border-bottom: none;
  padding: 0 10px;
}

.main_image_container {
  inline-size: 100%;
  position: relative;
}

.main_image_label {
  position: absolute;
  top: 25px;
  right: clamp(13px, 13px + 0.0113 * 100vw - 4.2254px, 25px);
  mix-blend-mode: hard-light;
  font-family: var(--accent-font-family);
  font-size: 14px;
  text-shadow: 0 0 1px var(--stroke-color);
  z-index: 1;
}

@supports (
  (text-stroke: 1px var(--stroke-color)) or
    (-webkit-text-stroke: 1px var(--stroke-color))
) {
  .main_image_label {
    -webkit-text-stroke: 1px var(--stroke-color);
    text-stroke: 1px var(--stroke-color);
    text-shadow: none;
  }
}

.main_image {
  width: var(--page-content-width);
  object-position: center;
  object-fit: fill;
}

.main_card_content {
  margin-top: -7px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  border: 2px solid #000;
  border-top: none;
}

.main_card_article {
  display: flex;
  flex-direction: column;
  gap: 27px;
  line-height: 21px;
}

.main_buttons {
  display: grid;
  grid-template-columns: min-content min-content;
  gap: 4px;
  justify-content: end;
}

.card__icon-button {
  background-color: #fff;
  border: none;
  transition: outline 0.3s ease;
  outline-offset: -2px;
}

.card__like-button {
  padding: 7px auto;
  inline-size: 130px;
}

.main_button_save {
  margin: auto;
  display: flex;
  flex-direction: row;
  width: min-content;
  gap: 8px;
  padding: 15px 0px;
  align-items: center;
  justify-content: center;
  inline-size: var(--button-save-size);
}

.main_button_save .button__text {
  white-space: nowrap;
}

.image1 {
  filter: brightness(200%);
}

.image2 {
  filter: contrast(70%);
}

.image3 {
  filter: blur(2px);
}

.image4 {
  filter: opacity(0.7);
}

.image5 {
  filter: grayscale(0.8);
}

.image6 {
  filter: saturate(200%);
}

.image7 {
  filter: hue-rotate(90deg);
}

.image8 {
  filter: sepia(100%) hue-rotate(90deg);
}

dialog[open] {
  display: grid;
  inline-size: var(--dialog-size);
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr min-content;
  column-gap: 20px;
  row-gap: 30px;
  padding: 30px;
  margin: auto;
}

dialog[open] .main_button_ok {
  grid-column: 1 / 3;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 #000;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
}

.button:hover::before {
  transform: scaleX(1);
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid #000;
}

@media (width <= 375px) {
  :root {
    --button-save-size: 306px;
    --dialog-size: 341px;
  }
  .main_button_save {
    flex-direction: column;
  }
  dialog[open] {
    padding: 30px 40px;
  }
}
